<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles.css">

    <!-- Import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>PlantPal</title>
</head>

<body>
    <h1>PlantPal Website</h1>
    <div id="app">
        <h2>Get All (GET)</h2>
        <!-- Knap der henter GetAll data -->
        <button id="getAllButton" @click="getAllSensorDatas" class="btn btn-primary">Get all sensor data</button>
        <!-- Clears the List -->
        <button id="clearButton" @click="clearList" class="btn btn-danger">Clear!</button>
        <br />
        
        <ul id="list" v-if="sensorDatas.length">
            <li v-for="sensorData in sensorDatas">
                Id: {{sensorData.id}}, Date: {{sensorData.dateTime}}, Moisture: {{sensorData.moisture}}, Conductivity: {{sensorData.conductivity}}, Light: {{sensorData.light}}, Temperature: {{sensorData.temperature}}
            </li>
        </ul>
        <div v-else>No Data</div>
    </div>
    <script src="js/index.js"></script>
</body>