body {
    position: relative;
}

#section1{
    margin-top:50px;
   
}
#logo{
    height: 80px;
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: 0 107px 0 107px;
}
.navbar a {
  color: #f2f2f2;
}

.navbar-nav{
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

/*Her fjernes margin på navbar ved mobile visning*/
@media screen and (max-width: 580px){
    .navbar{
        margin: 0 0 0 0;
        min-height: 50px;
    }
    #logo{
        height:70px;
    }

}

#detailed{
    text-align: center;
}
#plantPicture{
    width: 15%;
}
#popup-picture{
    width: 50%;
}
/* Center the image and position the close button */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/* Button used to open the contact - fixed center */
.open-button {
    background-color: #1848a0;
    color: white;
    margin-top: 5px;
    padding: 16px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
/* The popup - hidden by default */
.div-popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 1;
}

/* Add styles to the container */
.popup-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
/* Full-width input fields */
.popup-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
/* When the inputs get focus, do something */
.popup-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the submit/login button */
.popup-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.popup-container .cancel {
    background-color: red;
}
  
/* Add some hover effects to buttons */
.popup-container .btn:hover, .open-button:hover {
    opacity: 1;
}